/* Add Font */
@font-face {
    font-family:"Shabnam-Bold";
    src: url("./Fonts/Shabnam-Bold.ttf");
}
*{
    font-family:"Shabnam-Bold";

}
/* reset-all-styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html {
    scroll-behavior: smooth;
  }
  
  body {
    overflow-x: hidden;
  }
  
  button,
  input,
  textarea,
  select {
    font-size: 18px;
  }
  
  a {
    text-decoration: none;
    color: inherit;
  }
  
  ul {
    list-style-type: none;
  }

  /* header-styles */
  .header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
    padding: 10px;
  }

  .header-logo{
    width: 100px;
    height: auto;
  }

  header .nav-list{
    width: 500px;
    display: flex;
    justify-content: space-between;
  }

  header #shopping-icon, #search-icon{
    color: #000000b9;
    font-size: 20px;
    margin: 10px;
  }

  header .nav-links:hover{
    color: rgb(255, 204, 0);
    transition: color 0.3s ease;
  }
  
  header #shopping-icon:hover{
    color: rgb(255, 204, 0);
    transition: color 0.3s ease;
  }

  header #search-icon:hover{
    color: rgb(255, 204, 0);
    transition: color 0.3s ease;
  }

/* Top-banner */
  .banner-container {
    position: relative;
    width: 95%;
    height: 450px;
    margin: auto;
    overflow: hidden;
    border-radius: 15px;
}
.banner-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-fit: contain;
    display: flex;
    align-items: center;
}
.TopBanner-btn {
    position: absolute;
    top: 75%;
    right: 75%;
}

.TopBanner-btn {
    margin-top: 20px;
    padding: 10px 23px;
    border: none;
    border-radius: 8px;
    background-color: #111;
    color: white;
    cursor: pointer;
    transition: all 0.3s ease;
}

.TopBanner-btn:hover {
    padding: 12px 25px;
    background-color: #d9a900;
}

/* Dastebandi-Section */

.Dastebandi-Section{
    margin: 10px 36px;
}

.Dastebandi-Section h4{
    font-size: 20px;
    padding-top: 20px;
}
.Dastebandi-items-container{
    display: flex;
    width: 100%;
    height: auto;
    justify-content: space-between;
}

.Dastebandi-items-container .Dastebandi-item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border: 1px solid rgb(239, 239, 239);
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.07);
}

.Dastebandi-items-container .Dastebandi-item img{
    width: 150px;
}

.Dastebandi-items-container .Dastebandi-item a{
    color: #564300;
    font-size: 15px;
}

.Dastebandi-items-container .Dastebandi-item a:hover{
    font-size: 17px;
    transition: all 0.3s ease;
}

/* Mahsolat-Section */

.mahsolat-Section{
  margin: 35px;
}

.mahsolat-Section-texts{
 display: flex;
 justify-content: space-between;
 margin-bottom: 20px;
}

.mahsolat-Section-texts h4{
  font-size: 20px;
}

.mahsolat-item-container{
 display: flex;
 padding: 0px 15px;
 justify-content: space-between;
}

.mahsolat-item{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
border: 1px solid rgb(241, 241, 241);
border-radius: 15px;
overflow: hidden;
}

.img-mahsolat-item img{
  width: 270px;
  object-fit: cover;
}

.txt-btn-mahsolat-item{
  padding: 10px 20px 20px 20px ;
 display: flex;
 flex-direction: column;
 justify-content: center;
align-items: center;
gap: 10px;
}

.txt-btn-mahsolat-item .add-cart{
  background-color: white;
  border: 2px solid rgb(233, 233, 233);
  border-radius: 10px;
  padding: 10px 25px;
  display: flex;
 justify-content: center;
 align-items: center;
 gap: 20px;
}

.txt-btn-mahsolat-item .add-cart p{
  font-size: 16px;
}

